{% extends "index.html" %}
{% block content1 %}
<div class="container">
  <!-- 导航 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <strong><a class="navbar-brand" href="/index/">
            <font _mstmutation="1" _msttexthash="25569596" _msthash="1">Single<span style="color: #68D391"
                _mstmutation="1" _istranslated="1">Cell</span>db</font>
          </a></strong>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/home/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/search/">
              <font _mstmutation="1" _msttexthash="25569596" _msthash="1">Search</font>
            </a></li>
          <li class="active"><a href="/browse/">Browse</a></li>
          <li><a href="#">Statistics</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Human <span class="caret"></span></a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Download <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <hr>
  <div>


  </div>

  <div style="height: 100px;"></div>
</div>
{% endblock %}