{% extends "index.html" %}

{% block content1 %}

    <h3>List for singlecell</h3>
    <hr>

    <!-- Select -->
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="chdtable_length">

            </div>
        </div>
        <!-- 搜索功能 -->
        <form method="get" >
            <div class="input-group ">
                <span class="input-group-addon" id="basic-addon1"><i data-v-06292f57="" class="fa fa-search"
                        style="color:red;"></i></span>
                <input type="search" name="q" class="form-control" placeholder="Search for..."
                    aria-describedby="basic-addon1" style="width: 300px;" value="{{ search }}">
                <select name="field" class="btn btn-default">
                    <option value="zone" type="">zone</option>
                    <option value="run_id">run_id</option>
                    <option value="cell_type">cell_type</option>
                    <option value="time_point">time_point</option>

                </select>
                

                <button class="btn btn-default" type="search" style="margin-left: 5px;">Submit</button>
            </div><!-- /input-group -->
        </form>

        <a href="{% url 'download' %}" download>Download Table</a>

        <button></button>
    </div>

    <!-- 单细胞数据表格 -->
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>Cell_barcode</th>
                <th>cell_type</th>
                <th>zone</th>
                <th>run_id</th>
                <th>time_point</th>
                <th>UMAP_X</th>
                <th>UMAP_Y</th>
            </tr>
        </thead>
        <tbody>
            {% for a1 in res %}
            <tr>
                <td>{{ a1.Cell_barcode }}</td>
                <td>{{ a1.cell_type }}</td>
                <td>{{ a1.zone }}</td>
                <td>{{ a1.run_id }}</td>
                <td>{{ a1.time_point }}</td>
                <td>{{ a1.UMAP_X }}</td>
                <td>{{ a1.UMAP_Y }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 分页 -->
    <div style="display: flex;justify-content: center;" class="col-sm-12">
        <nav aria-label="...">
            <ul class="pagination">
                <li><a href="{{ head_page }}" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>
                {{ page_string }}
                <li><a href="{{ end_page }}" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>
            </ul>
            </ul>
        </nav>
    </div>



</div>
{% endblock %}





{% block content2 %}
<script type="text/javascript">

    $(function () {
        // 页面框架加载完成之后代码自动执行
        bindBtn1Event();
    })


    function bindBtn1Event() {
    $("#btn1").click(function () {
        $.ajax({
            url: '/task/ajax/',
            type: "get",

        })
    })
}

</script>

{% endblock %}