{% extends 'celldb/base.html' %} {% load static %} {% block content %}

<div style="height: 100px;"></div>
<div class="container" >




  <div class="col-md-12 text-center" style="display: flex;">
    <form action="/api/search/" method="get">
    <input id="searchbox" name="q" type="text" placeholder="gene symbol name..." style=" width:350px; margin-right: 10px; margin-left: 300px;">
    <button class="btn btn-primary" style="font-size:18px;" type="submit"><i class="fa-solid fa-magnifying-glass" style="margin-right:5px"></i>搜索</button>
</form>
  </div>





</div>
{% endblock %} {% block scripts %}


{% endblock %}