{% extends 'celldb/base.html' %} {% load static %} {% block content %}

<div style="height: 100px;"></div>
<div class="container">

  <div class="jumbotron" style="padding-top:20px; padding-bottom:15px;padding-left: 20px; background-color:#F0F8FF">

    <h1>Search</h1>
    <p>搜索来自x个scRNA-seq数据集的数据查找表达特定一组基因的细胞类型。
    </p>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" style="margin-top:100px">
    </div>
  </div>
</div>

<a href="{% url 'celldb-searchtype' %}" class="link plot" style="margin-left: 100px;">SEARCH CELL TYPE</a>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="text-muted" style="margin-bottom:20px">搜索一个基因（或用逗号分隔的多个基因）<span data-toggle="tooltip"
          data-placement="top" data-html="true" title=""></span></p>
    </div>
  </div>


  <form id="searchform" name="searchform">

    <!-- 搜索框 -->
    <div class="row">
      <div class="col-md-12 text-center">
        <input id="searchbox" name="q" type="text" placeholder="gene symbol name..." style="width:600px" autofocus="">
        <br><span id="errormsg" class="form-text" style="color:red; visibility:hidden"></span>
      </div>
    </div>

    <!-- 物种选择框 -->
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top:20px">
        <label for="speciesbox" style="margin-right:3px">Species</label>

        <select id="speciesbox" name="speciesbox">
          <option value="1">Mouse and human</option>
          <option value="2">Mouse</option>
          <option value="3">Human</option>
        </select>

        <br>
      </div>
    </div>

    <!-- 加长用的 -->
    <div class="row">
      <div class="col-md-12 text-center" style="margin-top:20px">
      </div>
      <div class="col-md-12 text-center" style="margin-top:20px ">
        <!-- 按钮的样式 -->
        <style>
          .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            font-size: 14px;
            cursor: pointer;
          }

          /* Darker background on mouse-over */
          .btn:hover {
            background-color: RoyalBlue;
          }
        </style>

        <button class="btn btn-primary" style="font-size:18px; margin-top:10px" id="searchbutton" name="searchbutton"
          onclick="searchbtn();"><i class="fa fa-search" style="margin-right:5px"></i> Search</button>

      </div>
    </div>
  </form>


  <!-- <div class="row" >
    <div class="col-md-12 text-center" style="margin-top:20px">
      <button class="btn btn-primary" style="font-size:18px; margin-top:10px; width: 100px; margin: auto;"
        id="plotbutton" name="plotbutton" onclick="plot();"><i class="fa-solid fa-pen" style="margin-right:5px"></i>
        plot</button>
    </div>
  </div> -->

<!-- all选项 -->
  <div class="row">
    <div class="col-md-1 offset-md-11">
    <label id="all">
      <input type="checkbox" id="allCheckbox" onchange="toggleCheckboxes()">all
    </label></div>
  </div>

</div>



  <div class="container" style="margin: auto;">
    <table class="table" id="table">
      <thead>
        <tr>
          <th scope="col">gene</th>
          <th scope="col">liter</th>
          <th scope="col">species</th>
          <th scope="col">plot</th>
          <th scope="col" style="width: 100px;"> <button class="btn btn-primary" style="font-size:10px; margin-top:10px"
              id="downloadbtn" name="downloadbtn"><i class="fa fa-download" style="margin-right:5px"></i>
              Download</button> </th>





        </tr>
      </thead>
      <tbody>

        <!-- <tr>
          <td id="genename">geneA</td>
          <td id="idname">1234567</td>
          <td>liver</td>
          <td><a href="{% url 'celldb-plot' %}?" target="_blank">1</a></td>
        </tr> -->

      </tbody>

    </table>
  </div>
</div>

</div>


{% endblock %} {% block scripts %}

<!-- 搜索功能的提交部分 -->
<script>
  $('#searchform').submit(function (event) {
    // prevent default browser behaviour
    event.preventDefault();
  });

  function searchbtn() {
    var genes = encodeURI($('#searchbox').val());
    var species = encodeURI($('#speciesbox').val());

    // var method = document.getElementById('methodbox').value;

    if (genes != '') {
      search_url = "{% url 'celldb-search' %}" + "?gene=" + genes + "&species=" + species;
      window.location = search_url;
    } else {
      //please type a gene symbol or a list of gene symbols separated by comma, for example: sox2,sox9,sox10
      $('#errormsg').css('visibility', 'visible');
      $('#errormsg').html(
        'please type a gene symbol or a list of gene symbols separated by comma, for example: sox2,alb');
    }
    return false;
  }


  // function plot() {
  //   var genes = encodeURI(document.getElementById('searchbox').value);

  //   // var method = document.getElementById('methodbox').value;

  //   if (genes != '') {
  //     search_url = "{% url 'celldb-plot' %}" + "?gene=" + genes;
  //     window.location = search_url;
  //   } else {
  //     //please type a gene symbol or a list of gene symbols separated by comma, for example: sox2,sox9,sox10
  //     document.getElementById('errormsg').style.visibility = "visible";
  //     document.getElementById('errormsg').innerHTML =
  //       'please type a gene symbol or a list of gene symbols separated by comma, for example: sox2,alb';
  //   }
  //   return false;
  // }
</script>

<script>
  // 搜索功能
  $(document).ready(function () {

    var table = $('#table');
    var all = $('#all');
    table.hide();
    all.hide();

    var tbody = table.find('tbody');

    var url = window.location.href;
    var queryString = location.search;
    // if (queryString) {
    //   var queryString = queryString.split('&');
    //   var value;
    //   for (var i = 0; i < queryString.length; i++) {
    //     var v = queryString[i].split('=');
    //     if (v[0] === '?gene') {
    //       value = v[1];
    //       break;
    //     }
    //   }
    if (queryString) {
      var params = new URLSearchParams(queryString);
      var gene = params.get('gene');
      var species = params.get('species');
      $.ajax({
        url: '/api/sea/',
        method: 'GET',
        data: {
          gene: gene,
          species: species
        },
        success: function (data) {
          // 如果有数据，则渲染到表格中
          if (data.length > 0) {
            // 清空tbody内容
            tbody.empty();

            // 渲染
            renderTable(data);

            table.show();
            all.show();
          }
        },
        error: function () {
          // 处理错误
        }
      });

      function renderTable(data) {
        var tableBody = $('#table tbody');
        tableBody.empty(); // 清空表格内容，以防重复渲染

        // 遍历后端传回的数据并渲染到表格
        for (var i = 0; i < data.length; i++) {
          var row = data[i];
          var rowHtml = '<tr>' +
            '<td class="x">' + row.gene + '</td>' +
            '<td class="y">' + row.liter + '</td>' +
            '<td>' + row.species + '</td>' +
            '<td><a href="/plot/?gene=' + encodeURIComponent(row.gene) + '&liter=' + encodeURIComponent(row.liter) +
            '">' + row.gene + '</a></td>' +
            '<td ><input type="checkbox" name="row"></td>' +
            '</tr>';
          tableBody.append(rowHtml);
        }
      }


    }


  });
</script>


<!-- 默认选中功能 -->
<script>
  $(document).ready(function () {
    // 获取 URL 参数值
    const urlParams = new URLSearchParams(window.location.search);
    const speciesParam = urlParams.get('species');
    const geneParam = urlParams.get('gene');


    // 设置选中项
    if (speciesParam) {
      $('#speciesbox').val(speciesParam);
    }

    if (geneParam) {
      $('#searchbox').val(geneParam);
    }

  });
</script>

<!-- all选择框 -->
<script>
  function toggleCheckboxes() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    var allCheckbox = document.getElementById('allCheckbox');

    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = allCheckbox.checked;
    }
  }
</script>




<!-- 下载按钮 -->
<script>
  // jQuery代码
  $(document).ready(function () {
    $('#downloadbtn').click(function () {
      var selectedRows = $('input[type="checkbox"]:checked').closest('tr');
      var params = [];

      selectedRows.each(function () {
        var x = $(this).find('.x').text();
        var y = $(this).find('.y').text();
        var param = 'x=' + encodeURIComponent(x) + '&y=' + encodeURIComponent(y);

        params.push(param);
      });


      if (params.length > 0) {
        var params = params.join(',');
        console.log(params)


        $.ajax({
          url: '/api/dld/',
          method: 'GET',
          data: {
            params: params
          },
          success: function (data) {

            down(data)
          },
          error: function () {
            // 处理错误
          }
        });

      }
    });
  });
</script>

<script>
  function down(data) {
    // 按钮点击事件处理程序


    var csvContent = "data:text/csv;charset=utf-8,";

    // 添加 CSV 列名
    csvContent += Object.keys(data[0]).join(",") + "\n";

    // 添加数据行
    data.forEach(function (item) {
      csvContent += Object.values(item).join(",") + "\n";
    });

    // 创建下载链接
    var encodedUri = encodeURI(csvContent);
    var link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "data.csv");
    document.body.appendChild(link);

    // 触发下载
    link.click();
  }
</script>


{% endblock %}