{% extends 'celldb/base.html' %} {% block content %}
<div class="container">
  <main>
    <div class="row my-2">
      <form class="needs-validation" novalidate id="MetadataForm">
        <div class="row d-flex">
          <div class="col-md-7">
            <h4>Literature Info</h4>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="pmid" class="form-label"
                  >pmid<span class="text-muted">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="pmid"
                  placeholder="Enter the pmid"
                  name="pmid"
                  value=""
                  required
                />
                <div class="invalid-feedback">Please enter pmid</div>
              </div>

              <div class="col-sm-6">
                <label for="publication" class="form-label"
                  >publication<span class="text-muted">(Optional)</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="publication"
                  placeholder="Enter the publication"
                  name="publication"
                  value=""
                  required
                />
              </div>

              <div class="col-12">
                <label for="article_title" class="form-label"
                  >article title<span class="text-muted"
                    >(Optional)</span
                  ></label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="article_title"
                    name="article_title"
                    value=""
                    placeholder="Enter article title"
                  />
                </div>
              </div>

              <div class="col-12">
                <label for="article_url" class="form-label"
                  >article url<span class="text-muted">(Optional)</span></label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="article_url"
                    name="article_url"
                    value=""
                    placeholder="Enter article url"
                  />
                </div>
              </div>

              <div class="col-12">
                <label for="release_time" class="form-label"
                  >release time<span class="text-muted">(Optional)</span></label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="release_time"
                    name="release_time"
                    value=""
                    placeholder="Enter release time (eg.2023-01-01)"
                  />
                </div>
              </div>

              <div class="col-12">
                <label for="article_abstract" class="form-label"
                  >article abstract
                  <span class="text-muted">(Optional)</span></label
                >
                <textarea
                  class="form-control"
                  id="article_abstract"
                  name="article_abstract"
                  placeholder="Enter article abstract"
                  style="height: 150px"
                ></textarea>
              </div>

              <div class="col-12">
                <label for="article_content" class="form-label"
                  >article content
                  <span class="text-muted">(Optional)</span></label
                >
                <textarea
                  class="form-control"
                  id="article_content"
                  name="article_content"
                  placeholder="Enter article content"
                  style="height: 150px"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <h4>Dataset Info</h4>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="dataset_id" class="form-label"
                  >dataset id<span class="text-muted">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="dataset_id"
                  placeholder="Enter dataset id"
                  name="dataset_id"
                  value=""
                  required
                />
                <div class="invalid-feedback">Please enter dataset id</div>
              </div>

              <div class="col-sm-6"></div>

              <div class="col-12">
                <label for="species_name" class="form-label"
                  >species<span class="text-muted">(Optional)</span></label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="species_name"
                    name="species_name"
                    placeholder="Enter species (human, mouse, etc.)"
                  />
                </div>
              </div>

              <div class="col-12">
                <label for="cell_types" class="form-label"
                  >cell types<span class="text-muted">(Optional)</span></label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="cell_types"
                    name="cell_types"
                    placeholder="Enter cell types"
                  />
                </div>
              </div>

              <div class="col-sm-12">
                <label for="tissue_name" class="form-label"
                  >tissue name<span class="text-muted">(Optional)</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="tissue_name"
                  name="tissue_name"
                  placeholder="Enter tissue name"
                  value=""
                />
              </div>

              <div class="col-sm-6">
                <label for="used_method" class="form-label"
                  >method<span class="text-muted">(Optional)</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="used_method"
                  name="used_method"
                  value=""
                  placeholder="Enter the method (eg. scRNA-seq)"
                />
              </div>

              <div class="col-sm-6">
                <label for="num_cells" class="form-label"
                  >cell number<span class="text-muted">(Optional)</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="num_cells"
                  name="num_cells"
                  value=""
                  placeholder="Enter the number of cells"
                  required
                />
              </div>

              <div class="col-12">
                <label for="markers_main" class="form-label"
                  >main markers
                  <span class="text-muted">(Optional)</span></label
                >
                <textarea
                  class="form-control"
                  id="markers_main"
                  name="markers_main"
                  placeholder="Enter main markers"
                  style="height: 50px"
                ></textarea>
              </div>

              <div class="col-12">
                <label for="markers_other" class="form-label"
                  >other markers
                  <span class="text-muted">(Optional)</span></label
                >
                <textarea
                  class="form-control"
                  id="markers_other"
                  name="markers_other"
                  placeholder="Enter other markers"
                  style="height: 50px"
                ></textarea>
              </div>
            </div>
            <button class="w-100 btn btn-primary btn-lg my-2" type="submit">
              Sumbmit Literature and Dataset Info
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row my-2">
      <h4>Matrix</h4>
      <div class="input-group">
        <div class="col-md-3 mx-2">
          <label class="form-label">Gene Feature Matrix</label>
          <input
            class="form-control"
            type="file"
            id="genes_matrix"
            accept=".txt, .csv"
          />
        </div>
        <div class="col-md-3 mx-2">
          <label class="form-label">Cell Feature Matrix</label>
          <input
            class="form-control"
            type="file"
            id="cell_matrix"
            accept=".txt, .csv"
          />
        </div>
        <div class="col-md-3 mx-2">
          <label class="form-label">Expression Matrix</label>
          <input
            class="form-control"
            type="file"
            id="expression_matrix"
            accept=".txt, .csv"
          />
        </div>
        <div class="col-md-2 mx-2">
          <hr />
          <button class="btn btn-primary" type="button" id="upload_matrix">
            Upload Matrix
          </button>
        </div>
      </div>
    </div>
    <div class="row my-1 progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </main>
</div>
{% endblock %} {% block scripts %}


<!-- 
<script>
  $(document).ready(function () {
    // 获取token
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");
    // 文献和数据集信息提交事件
    $("#MetadataForm").submit(function (event) {
      event.preventDefault(); // 阻止默认的表单提交行为

      // 收集表单数据
      var formDataArray = $(this).serialize();
      console.log(formDataArray);
      var literatureData = {};
      var datasetData = {};
      csrf_token = formDataArray[0].value;
      for (var i = 1; i < 8; i++) {
        literatureData[formDataArray[i].name] = formDataArray[i].value;
      }
      for (var i = 8; i < 16; i++) {
        datasetData[formDataArray[i].name] = formDataArray[i].value;
      }
      var formData = {
        csrfmiddlewaretoken: csrf_token,
        literature: literatureData,
        dataset: datasetData,
      };
      console.log(formData);
      // 使用AJAX提交表单数据
      $.ajax({
        url: "", // 提交的URL
        type: "POST",
        data: formDataArray, // 表单数据
        success: function (response) {
          console.log("Data submitted successfully:", response);
          alert("数据提交成功！");
        },
        error: function (error) {
          alert("数据提交失败！");
          console.error("Error submitting data:", error);
        },
      });
    });

    // 矩阵文件提交事件
    $("#upload_matrix").on("click", function () {
      const geneMatrixFile = $("#genes_matrix")[0].files[0];
      const cellMatrixFile = $("#cell_matrix")[0].files[0];
      const expressionMatrixFile = $("#expression_matrix")[0].files[0];
      const datasetId = $("#dataset_id").val();
      const formData = new FormData();
      formData.append("gene_file", geneMatrixFile);
      formData.append("cell_file", cellMatrixFile);
      formData.append("expression_file", expressionMatrixFile);
      formData.append("data_id", datasetId);
      formData.append("csrfmiddlewaretoken", csrftoken);
      const xhr = new XMLHttpRequest();
      xhr.upload.addEventListener("progress", function (event) {
        if (event.lengthComputable) {
          const percentComplete = (event.loaded / event.total) * 100;
          console.log("上传进度：" + percentComplete + "%");
          // 在这里更新你的进度条UI，例如修改进度条的宽度或百分比显示
          $(".progress-bar").css("width", percentComplete + "%");
          $(".progress-bar").attr("aria-valuenow", percentComplete);
        }
      });
      $.ajax({
        xhr: function () {
          return xhr; // 将XMLHttpRequest对象用于AJAX请求
        },
        url: "",
        method: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function () {
          alert("Matrix files uploaded successfully!");
        },
        error: function () {
          alert("Error uploading matrix files.");
        },
      });
    });
  });
</script> -->



{% endblock %}
