{% extends 'celldb/base.html' %}{% load static %} 



{% block content %}
<div class="container">
  <!-- 上传按钮 -->
  <button
    type="button"
    class="btn btn-outline-success btn-sm mb-2"
    data-bs-toggle="modal"
    data-bs-target="#uploadFileModal"
    title="添加文件"
  >
    添加文件
  </button>

  <!-- 表格 -->
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" style="width: 50px"></th>
        <th scope="col">文件名称</th>
        <th scope="col">文件描述</th>
        <th scope="col">文件大小(MB)"</th>
        <th scope="col">上传时间</th>
      </tr>
    </thead>
    <tbody id="file-table-body">
      <!-- 表格内容将通过JavaScript动态生成 -->
      <!-- <tr>
        <th scope="row">1</th>
        <td>
          <a href="">SingleCele_Meta</a>
        </td>
        <td>23,944 Cells</td>
        <td>1.7M</td>
        <td>2023</td>
      </tr> -->
    </tbody>
  </table>

  <!-- 上传文件模态框 -->
  <div
    class="modal fade"
    id="uploadFileModal"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateFileModal-staticBackdropLabel">
            请上传新文件
          </h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- 文件 -->
          <div class="row mx-3">
            <span class="text-secondary text-opacity-50">
              <i class="fa fa-volume-down"></i>
              支持txt、csv、Excel格式文件
            </span>
            <input
              type="file"
              id="new-file"
              name="new_file"
              class="form-control mb-2"
              accept=".txt,.csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              placeholder="支持txt、csv、Excel格式文件"
            />
          </div>
          <!-- 文件名称 -->
          <div class="row mx-3">
            <input
              type="text"
              class="form-control mb-2"
              id="new-file-name"
              name="new_file_name"
              placeholder="文件名称"
            />
          </div>
          <!-- 文件描述 -->
          <div class="row mx-3">
            <textarea
              class="form-control mb-2"
              id="new-file-description"
              name="new_file_description"
              rows="3"
              placeholder="文件描述"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <!--执行上传操作，并关闭模态框-->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              onclick="uploadNewFile()"
            >
              上传
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 通知模态框 -->
  <div
    class="modal fade"
    id="toastModal"
    tabindex="-1"
    aria-labelledby="toastModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          <!-- 成功消息 -->
          <div
            class="alert alert-success d-none"
            role="alert"
            id="success-toast"
          >
            上传成功！
          </div>
          <!-- 错误消息 -->
          <div class="alert alert-danger d-none" role="alert" id="error-toast">
            错误，未上传成功！
          </div>
          <!-- 关闭按钮 -->
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            关闭
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 



{% block scripts %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
  integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- 处理表格显示 -->
<script>
  $(document).ready(function () {
    // 获取文件信息并生成表格行
    $.ajax({
      url: "/api/upload",
      type: "GET",
      success: function (response) {
        // 获取表格tbody元素
        let tableBody = $("#file-table-body");
        // 遍历每个文件信息
        response.forEach(function (file) {
          // 创建表格行
          let row = $("<tr></tr>");
          // 添加序号列
          let indexCell = $("<th></th>").attr("scope", "row").text(file.id);
          row.append(indexCell);
          // 添加文件名称列
          let nameCell = $("<td></td>").html(
            `<a href="${file.file}">${file.name}</a>`
          );
          row.append(nameCell);
          // 添加文件描述列
          let descriptionCell = $("<td></td>").text(file.description);
          row.append(descriptionCell);
          // 添加文件大小列
          let sizeCell = $("<td></td>").text(file.size);
          row.append(sizeCell);
          // 添加上传时间列
          let uploadedAtCell = $("<td></td>").text(
            new Date(file.uploaded_at).toISOString().slice(0, 16)
          );
          row.append(uploadedAtCell);
          // 将行添加到表格中
          tableBody.append(row);
        });
      },
      error: function (error) {
        alert("获取文件信息失败:", error);
      },
    });
  });
</script>
<!-- 处理文件上传, 不使用model-->
<!-- <script>
  // 上传新文件
  function uploadNewFile() {
    // 构造表单数据
    let formData = new FormData();
    // --- 文件
    let file = $("#new-file")[0].files[0];
    formData.append("file", file);
    // 文件不能为空
    if (file) {
      let fileName = file.name; // 文件名称
      let fileSize = (file.size / (1024 * 1024)).toFixed(2); // 文件大小
      console.log("文件名称：" + fileName);
      console.log("文件大小：" + fileSize + "MB");
      // 发起上传操作
      $.ajax({
        url: "/api/savefile",
        type: "post",
        data: formData,
        contentType: false,
        processData: false,
        success: function (res) {
          if (res.message == "文件上传成功") {
            $("#toastModal").modal("show");
            $("#success-toast").removeClass("d-none");
            setTimeout(function () {
              location.reload();
            }, 1000);
          } else if (res.error == "只能上传文本文件") {
            $("#toastModal").modal("show");
            $("#error-toast").removeClass("d-none");
          }
        },
      });
    } else {
      alert("文件不能为空！");
    }
    // 清空input文件表单：再次打开上传界面，不会保留上次的选项
    $("#new-file")[0].value = "";
  }
</script>  -->
<!-- 处理文件上传，使用model -->
<script>
  function uploadNewFile() {
    // 构造表单数据
    let formData = new FormData();
    // --- 文件
    let file = $("#new-file")[0].files[0];
    formData.append("file", file);
    // --- 其他文件信息
    let name = $("#new-file-name").val();
    let description = $("#new-file-description").val();
    let size = (file.size / (1024 * 1024)).toFixed(2);
    formData.append("name", name);
    formData.append("description", description);
    formData.append("size", size);

    // 文件不能为空
    if (file) {
      let fileName = file.name; // 文件名称
      let fileSize = (file.size / (1024 * 1024)).toFixed(2); // 文件大小
      console.log("文件名称：" + fileName);
      console.log("文件大小：" + fileSize + "MB");
      console.log("文件描述：" + description);

      // 发起上传操作
      $.ajax({
        url: "/api/upload",
        type: "post",
        data: formData,
        contentType: false,
        processData: false,
        success: function (res) {
          if (res) {
            alert("文件上传成功");
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
        },
        error: function () {
          // 处理请求失败的情况
          alert("上传文件时发生错误，请重试！");
        },
      });
    } else {
      alert("文件不能为空！");
    }
    // 清空input文件表单：再次打开上传界面，不会保留上次的选项
    $("#new-file")[0].value = "";
    $("#new-file-name").val("");
    $("#new-file-description").val("");
  }
</script>
{% endblock %} 
